####################################
# MY GMAIL
####################################
MY_GMAIL_ADDRESS=
MY_FULL_NAME_IN_GMAIL=

####################################
# HR CONFIG (Refer to README.md)
####################################
HR_EMAIL=
HR_ORIGINAL_SUBJECT=
HR_GMAIL_THREAD_ID=

####################################
# GOOGLE APIS (Refer to README.md)
####################################
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
GOOGLE_REDIRECT_URI="https://developers.google.com/oauthplayground"